.app {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background 0.3s ease, color 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.app[data-theme="dark"] {
  background: transparent;
  color: var(--text-dark);
}

.app[data-theme="light"] {
  background: transparent;
  color: var(--text-light);
}
